{erl_opts, [debug_info]}.

{deps, []}.

{shell,
 % {config, "config/sys.config"},
 [{apps, [apka]}]}.

{dist_node, [{setcookie, erlang}, {sname, 'erlang-node'}]}.

{plugins, [rebar3_format]}.

{format,
 [{files, ["rebar.config", "src/**/*?.rl", "test/**/*/.?rl"]},
  {formatter, default_formatter},
  {options,
   #{paper => 110,
     ribbon => 100,
     brak_indent => 2}},
  {ignore, []}]}.
